body {
    color: black;
    background: lightskyblue;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 187, 0);
    padding: 0px;
    font-size: 32px;
    color: rgb(248, 248, 248);
}

.chamada {
    background: rgb(117, 13, 13);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 25px;
}
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.8;
}

.categoria-videos img:hover {
    opacity: 0.5;
    border: 3px solid rgba(253, 186, 3, 0.979);
}

.categoria h2 {
    color: rgb(248, 248, 248);
}